<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace值为dao下的接口UserDao-->
<mapper namespace="com.hutao.mapper.UserMapper" >
    <!--id的值为UserDao接口中的login方法的名称，resultType为login方法的返回类型-->
    <select id="login" resultType="com.hutao.pojo.User">
        select  * from users where uname = #{user.uname} and upass = #{user.upass}
    </select>

</mapper>